.header-top {
  height: 92px;
  display: flex;
  padding-left: 4%;
  padding-right: 4%;
  justify-content: space-between;
  align-items: center;
}

.header-top .header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top .header-logo {
  width: 100px;
  height: 21px;
}

.header-top .header-logo img {
  width: auto;
  height: 100%;
}

.header-top .header-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  align-items: center;
  padding: 17px;
}

.header-top .header-nav ul li {
  padding-right: 21px;
  padding-left: 21px;
}

.header-top .header-nav ul a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.header-top .header-holder {
  display: flex;
  align-items: center;
}

.header-top .holder-contact {
  display: flex;
  flex-direction: column;
}

.header-top .holder-logo {
  padding-right: 15px;
}

.header-top .holder-contact a {
  text-decoration: none;
  color: #000;
  margin-left: auto;
}

.header-top .holder-contact a:first-child {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.header-top .holder-contact a:last-child {
  font-size: 14px;
  color: rgb(102, 107, 122);
  font-weight: 500;
  line-height: 22px;
}

.header-top .menu-item a {
  transition: all 0.3s ease-in;
  font-weight: 500;
}

.header-top .menu-item:hover a {
  color: #2453d4;
}

/* Add */
.header-top .search-product-form {
  height: 50px;
  width: 671px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 1px solid #eaeaea;
  position: relative;
}

.header-top .product-category-holder {
  position: relative;
  display: inline-block;
  padding-right: 15px;
  border-right: 1px solid #eaeaea;
}

.header-top .product-category-holder select {
  font-size: 14px;
  display: block;
  height: 26px;
  font-weight: 500;
  padding: 0 40px 0 14px;
  border: 0;
}

.header-top .product-category-holder select:focus {
  outline: none;
}

.header-top .product-search-input {
  margin: 0 72px 0 -150px;
  border: 0;
  background-color: #fff !important;
  max-width: 377px;
  font-size: 14px;
}

.header-top .product-search-input:focus {
  outline: none;
}
.header-top .product-search-input::placeholder {
  font-weight: 400;
}

.header-top .product-search-input:focus::placeholder {
  color: #000;
  font-weight: 400;
}

.header-top .product-search-submit {
  border: 0;
  background-color: #fff;
  margin-right: 5px;
  width: 41px;
  height: 41px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, transparent 50%, #2453d4 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s;
}

.header-top .product-search-submit:hover {
  background-position: bottom;
}

.header-top .product-search-submit svg path {
  transition: fill 0.5s; /* Thêm transition cho fill của SVG */
}

.header-top .product-search-submit:hover svg path {
  fill: #fff; /* Đổi màu fill sang trắng */
}

.header-top .nav-actions ul {
  display: flex;
  align-items: center; /* Căn giữa các phần tử con theo chiều dọc */
  margin: 0; /* Đảm bảo không có khoảng trắng xung quanh */
  padding: 0; /* Đảm bảo không có khoảng trắng bên trong */
}

.header-top .nav-actions .nav-item {
  list-style: none;
  display: flex; /* Đảm bảo các mục nằm ngang */
  align-items: center; /* Căn giữa các phần tử con theo chiều dọc */
  position: relative;
  transition: all 0.5s ease-in;
}

.header-top .nav-actions .nav-item:not(:last-child) {
  padding: 0 15px;
}

.header-top .nav-actions .nav-item:last-child {
  padding-left: 15px;
}

.header-top .nav-actions .nav-item a {
  font-size: 20px;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in;
}

.header-top .nav-actions .nav-item a span {
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
}

.header-top .nav-actions .nav-item:last-child .nav-item__icon {
  position: relative;
}

.header-top .nav-actions .nav-item:last-child .nav-item__icon .quantity {
  background-color: #f26300;
  width: 18px;
  height: 18px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  top: -5px;
  right: -6px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.header-top .nav-actions .nav-item a:hover {
  /* color: #0037cf; */
  color: #2453d4;
}


.header-top .nav-actions .nav-item:last-child {
  position: relative;
}

.header-top .nav-actions .nav-item:last-child:hover .cart{
  opacity: 1;
  visibility: visible;
}

.header-top .nav-actions .nav-item:last-child .cart {
  background-color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 61px;
  right: 0;
  border: 1px solid #eaeaea;
  /* border-top: none; */
  width: 413px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.header-top .nav-actions .nav-item:last-child .mini-cart {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  height: 324px;
  overflow: hidden;
  overflow-y: scroll;
  list-style: none;
}

/* .nav-actions .nav-item:last-child .mini-cart:hover {
  overflow-y: scroll; 
} */

.header-top .nav-actions .nav-item:last-child .mini-cart::-webkit-scrollbar {
  width: 6px; 
}

.header-top .nav-actions .nav-item:last-child .mini-cart::-webkit-scrollbar-thumb {
  background-color: #999; 
  border-radius: 4px; 
}

.header-top .nav-actions .nav-item:last-child .mini-cart__item .img img {
  height: 84px;
  width: 84px;
  object-fit: cover;
}

.header-top .nav-actions .nav-item:last-child .mini-cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 108px;
  width: 373px;
  padding: 15px 0px;
  border-bottom: 1px solid #eaeaea;
}

.header-top .nav-actions .nav-item:last-child .mini-cart__item .info .title {
  font-size: 15px;
  font-weight: 700;
  max-width: 230px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.3s ease-in;
}

.header-top .nav-actions .nav-item:last-child .mini-cart__item .info .title:hover {
  color: #2453D4;
  cursor: pointer;
}

.header-top .nav-actions .nav-item:last-child .mini-cart__item .info .price {
  font-size: 18px;
}

.header-top .nav-actions .nav-item:last-child .mini-cart__item i {
  transition: all 0.3s ease-in;
}

.header-top .nav-actions .nav-item:last-child .mini-cart__item i:hover {
  color: #2453d4;
  cursor: pointer;
}

.header-top .nav-actions .nav-item:last-child .cart .detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2453D4;
  padding: 14px 15px 16px 15px;
}

.header-top .nav-actions .nav-item:last-child .cart .detail .title {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.header-top .nav-actions .nav-item:last-child .cart .detail .total-price {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.header-top .nav-actions .nav-item:last-child .cart .action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  box-sizing: content-box;
  padding: 18px 15px;
}

.header-top .nav-actions .nav-item:last-child .cart .action a {
  text-decoration: none;
  color: #000;
  padding: 14px 18px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}

.header-top .nav-actions .nav-item:last-child .cart .action a span {
  text-transform: uppercase;
  font-size: 12px;
  color: #000;
  font-weight: 700;
  margin-right: 10px;
}

.header-top .nav-actions .nav-item:last-child .cart .action a i {
  font-size: 12px;
  color: #000;
  font-weight: 700;
}

.header-top .product-result {
  position: absolute;
  border-radius: 10px;
  background-color: #fff;
  width: 671px;
  top: 50px;
  z-index: 99;
  border: 1px solid #eaeaea;
  padding: 0 20px;
}

.header-top .product-result .product-result__item {
  padding: 11px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  text-decoration: none;
  color: #000;
}

.header-top .product-result .product-result__item:last-child {
  border: none;
}

.header-top .product-result .product-result__item img {
  width: 84px;
  height: 84px;
}

.header-top .product-result .product-result__item .info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.header-top .product-result .product-result__item .info .category {
  font-size: 11px;
  color: #898D99;
  padding-bottom: 10px;
  letter-spacing: 0.5px;
}

.header-top .product-result .product-result__item .info .title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
}

.header-top .product-result .product-result__item .info .price {
  font-size: 22px;
  font-weight: 400;
}

