.cart-content {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 120px;
}

.cart-content .product-table {
  width: 100%;
}

.product-quantity .quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-content .product-quantity .quantity .quantity-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 57px;
  padding: 5px 0;
}

.cart-content .product-quantity .quantity .quantity-button i {
  font-size: 18px;
  font-weight: 900;
  transition: all 0.3s ease-in;
}

.cart-content .product-quantity .quantity .quantity-button i:hover {
  color: #2453d4;
  cursor: pointer;
}

.cart-content .product-quantity .quantity .quantity-text {
  width: 57px;
  height: 57px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-right: 20px;
}

.cart-content .product-table th,
.cart-content .product-table td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.cart-content .product-image img {
  width: 84px;
  height: 84px;
  object-fit: cover;
}

.cart-content .product-image .link {
  text-decoration: none;
}

.cart-content .product-image span {
  transition: all 0.5s ease-in;
  margin-left: 10px;
  color: #000;
}

.cart-content .product-image span:hover {
  color: #2453d4;
  cursor: pointer;
}

.cart-content .table th,
.cart-content .table td {
  text-align: center;
  vertical-align: middle;
}

.cart-content tbody tr td:first-child {
  text-align: left;
}

.cart-content thead tr th:first-child {
  text-align: left;
  padding-left: 150px;
}

.cart-content .product-table thead th {
  font-size: 20px;
  font-weight: 700;
}

.cart-content .product-table tbody td {
  font-size: 15px;
  font-weight: 600;
}

.cart-content .product-actions i {
  font-size: 20px;
  transition: all 0.5s ease-in;
}

.cart-content .product-actions:hover i {
  color: #2453d4;
  cursor: pointer;
}

.cart-content .input-coupon:focus::placeholder {
  color: #000;
}

.cart-content .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.cart-content .action__coupon {
  display: flex;
  align-items: center;
}

.cart-content .input-coupon {
  border-radius: 10px;
  outline: none;
  border: 1px solid #eaeaea;
  padding: 20px 28px;
  font-size: 14px;
  transition: all 0.3s ease-in;
  color: #000;
}

.cart-content .input-coupon:focus {
  background-color: transparent;
  border-color: transparent;
  color: #000;
  box-shadow: 0 0 0 2px #2453d4 inset;
  cursor: pointer;
}

.cart-content .action__coupon .add-coupon {
  display: flex;
  align-items: center;
  background-color: #2453d4;
  border-radius: 10px;
  border: none;
  padding: 20px 28px;
  margin-left: 20px;
}

.cart-content .action__coupon .add-coupon span {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding-right: 10px;
}

.cart-content .action__coupon .add-coupon i {
  font-size: 14px;
  color: #fff;
}

.cart-content .action__update-cart .update-cart {
  display: flex;
  align-items: center;
  background-color: #2453d4;
  border-radius: 10px;
  border: none;
  padding: 20px 28px;
  margin-left: 20px;
}

.cart-content .action__update-cart .update-cart span {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding-right: 10px;
}

.cart-content .action__update-cart .update-cart i {
  font-size: 14px;
  color: #fff;
}

.cart-content .cart-total {
  margin-top: 55px;
}

.cart-content .cart-total .title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}

.cart-content .cart-total__table {
  width: 100%;
}

.cart-content .cart-total__table td {
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
}

.cart-content .cart-total__table tr {
  border: 1px solid #eaeaea;
  border-left: none;
  border-right: none;
}

.cart-content .cart-total__table td:first-child {
  width: 20%;
  padding-left: 0;
}

.cart-content .cart-total__table td:last-child {
  width: 80%;
  padding-left: 0;
}

.cart-content .cart-total__table tr:last-child td:last-child {
  font-weight: 700;
}

.cart-content .cart-total .checkout {
  display: flex;
  align-items: center;
  background-color: #2453d4;
  border-radius: 10px;
  border: none;
  padding: 20px 28px;
  margin-left: 0;
}

.cart-content .cart-total .checkout span {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding-right: 10px;
}

.cart-content .cart-total .checkout i {
  font-size: 14px;
  color: #fff;
}

.cart-content .checkout {
    margin-top: 20px;
}
