.active-account {
    margin: 0 4%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
}

.active-account i {
    font-size: 200px;
    color: #25AE88;
    display: block;
    margin-bottom: 25px;
}

.active-account .notice {
    font-size: 20px;
    display: block;
    margin-top: 15px;
    font-style: italic;
}

.active-account .timer {
    color: red;
}