.checkout {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 120px;
}

.checkout .has-coupon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eaeaea;
  padding: 20px 30px;
}

.checkout .has-coupon span {
  font-size: 15px;
  color: rgb(103, 103, 112);
}

.checkout .has-coupon .add-coupon {
  display: flex;
  align-items: center;
  background-color: #2453d4;
  border-radius: 10px;
  border: none;
  padding: 17px 30px;
}

.checkout .has-coupon .add-coupon span {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding-right: 10px;
}

.checkout .has-coupon .add-coupon i {
  font-size: 14px;
  color: #fff;
}

.checkout .content {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-top: 45px;
}

.checkout .content .billing-detail,
.checkout .content .add-info {
  width: 50%;
}

.checkout .add-info .content .note {
  width: 100%;
}

.checkout .add-note {
  border-radius: 10px;
  border: 1px solid #eaeaea;
  padding: 21px 20px;
  font-size: 14px;
  transition: all 0.3s ease-in;
  outline: none;
  width: 100%;
  margin-top: 6px;
}

.checkout .add-note:focus::placeholder {
  color: #000;
}

.checkout .add-note:focus {
  background-color: transparent;
  border-color: transparent;
  color: #000;
  box-shadow: 0 0 0 2px #2453d4 inset;
}

.checkout .billing-detail {
  margin-right: 10px;
}

.checkout .add-info {
  margin-left: 10px;
}

.checkout .add-info .content span {
  font-size: 15px;
  color: rgb(103, 103, 112);
  font-weight: 400;
}

.checkout .billing-detail .content {
  display: flex;
  flex-direction: column;
}

.checkout .billing-detail .content div {
  display: flex;
  flex-direction: column;
}

.checkout .billing-detail .content div input:focus::placeholder {
  color: #000;
}

.checkout .billing-detail .content div input {
  border-radius: 10px;
  outline: none;
  border: 1px solid #eaeaea;
  padding: 21px 20px;
  margin-bottom: 15px;
  font-size: 14px;
  transition: all 0.3s ease-in;
  color: #000;
}

.checkout .billing-detail .content div input:focus {
  background-color: transparent;
  border-color: transparent;
  color: #000;
  box-shadow: 0 0 0 2px #2453d4 inset;
}

.checkout .billing-detail .content div span {
  font-size: 15px;
  color: rgb(103, 103, 112);
  font-weight: 400;
  margin-bottom: 8px;
}

.checkout .select__province-city,
.checkout .select__distric,
.checkout .select__ward-commune{
  padding: 21px 20px;
  background-color: #fff;
  border-radius: 10px;
  outline: none;
  border: 1px solid #eaeaea;
  font-size: 14px;
  transition: all 0.3s ease-in;
  color: #000;
  margin-bottom: 15px;
}

.checkout .select__province-city option,
.checkout .select__distric option,
.checkout .select__ward-commune option {
  background-color: #f3f6fb;
}

.checkout .add-info .heading .title,
.checkout .billing-detail .heading .title {
  font-size: 26px;
  font-weight: 600;
  text-transform: capitalize;
}

.checkout .add-info .heading,
.checkout .billing-detail .heading {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 17px;
  margin-bottom: 23px;
}
.checkout .order {
  margin-top: 30px;
}

.checkout .order .title {
  padding-bottom: 18px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eaeaea;
}

.checkout .order-table {
  width: 100%;
}

.checkout .order-table th {
  font-size: 21px;
  font-weight: 600;
}

.checkout .order-table td {
  font-size: 17px;
  font-weight: 500;
}

.checkout .order-table tr td:last-child {
  font-size: 21px;
}

.checkout .order-table th,
.checkout .order-table td {
  vertical-align: middle;
  padding: 15px 0;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.checkout .order-table .subtotal .title,
.checkout .order-table .total .title {
  font-size: 20px;
  font-weight: 600;
}

.checkout .order-table .total .sub {
  font-weight: 700;
}

.checkout .payment ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.checkout .payment ul li {
  padding: 15px 0;
  border-bottom: 1px solid #eaeaea;
}

.checkout .payment ul label {
  padding-left: 15px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.checkout .payment ul div {
  padding-left: 28px;
}

.checkout .payment ul div p {
  margin: 0;
  font-size: 15px;
  color: rgb(103, 103, 112);
  font-weight: 400;
  margin-top: 8px;
}

#payment-method_input:checked ~ .payment_box.payment-method_item {
  display: block;
}

.checkout .payment_box.payment-method_item {
  display: none;
}

.checkout .payment .attention {
  margin: 35px 0;
}

.checkout .payment .attention span {
  color: rgb(103, 103, 112);
  font-size: 15px;
  font-weight: 400;
}

.checkout .payment .attention a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  transition: all 0.3s ease-in;
}

.checkout .payment .attention a:hover {
    color: #2453d4;
}

.checkout .order .place-order {
  display: flex;
  align-items: center;
  background-color: #2453d4;
  border-radius: 10px;
  border: none;
  padding: 17px 30px;
}

.checkout .order .place-order span {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding-right: 10px;
}

.checkout .error {
  font-size: 15px;
  color: red;
  font-style: italic;
  margin-bottom: 10px;
}
