.header-bottom-home {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  height: 60px;
  background-color: #2453d4;
}

.header-bottom-home .header-bottom-inner {
  width: 100%;
  padding-left: 4%;
  padding-right: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-bottom-home .header-bottom__dropdown-menu {
  display: flex;
  align-items: center; 
  color: white;
}
.header-bottom-home .dropdown-link i {
  font-size: 22px;
  padding-right: 18px;
}
.header-bottom-home .dropdown-link {
  display: flex;
  align-items: center; /* Căn giữa icon và chữ theo chiều dọc */
  color: white;
  text-decoration: none;
}

.header-bottom-home .dropdown-link span {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 14px;
}

.header-bottom-home .header-bottom__dropdown-menu ul {
  display: none;
}

.header-bottom-home .search-product-form {
  height: 50px;
  width: 671px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-bottom-home .product-result {
  position: absolute;
  border-radius: 10px;
  background-color: #fff;
  width: 671px;
  top: 50px;
  z-index: 99;
  border: 1px solid #eaeaea;
  padding: 0 20px;
}

.header-bottom-home .product-result .product-result__item {
  padding: 11px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  text-decoration: none;
  color: #000;
}

.header-bottom-home .product-result .product-result__item:last-child {
  border: none;
}

.header-bottom-home .product-result .product-result__item img {
  width: 84px;
  height: 84px;
}

.header-bottom-home .product-result .product-result__item .info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.header-bottom-home .product-result .product-result__item .info .category {
  font-size: 11px;
  color: #898D99;
  padding-bottom: 10px;
  letter-spacing: 0.5px;
}

.header-bottom-home .product-result .product-result__item .info .title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
}

.header-bottom-home .product-result .product-result__item .info .price {
  font-size: 22px;
  font-weight: 400;
}

.header-bottom-home .product-category-holder {
  position: relative;
  display: inline-block;
  padding-right: 15px;
  border-right: 1px solid #eaeaea;
}

.header-bottom-home .product-category-holder select {
  font-size: 14px;
  display: block;
  height: 26px;
  font-weight: 500;
  padding: 0 40px 0 14px;
  border: 0;
}

.header-bottom-home .product-category-holder select:focus {
  outline: none;
}

.header-bottom-home .product-search-input {
  margin: 0 72px 0 -150px;
  border: 0;
  background-color: #fff !important;
  max-width: 377px;
  font-size: 14px;
}

.header-bottom-home .product-search-input:focus {
  outline: none;
}

.header-bottom-home .product-search-input:focus::placeholder {
  color: #000;
}

.header-bottom-home .product-search-submit {
  border: 0;
  background-color: #fff;
  padding-bottom: 6px;
  padding-right: 18px;
}

.header-bottom-home .nav-actions ul {
  display: flex;
  align-items: center; /* Căn giữa các phần tử con theo chiều dọc */
  margin: 0; /* Đảm bảo không có khoảng trắng xung quanh */
  padding: 0; /* Đảm bảo không có khoảng trắng bên trong */
}

.header-bottom-home .nav-actions .nav-item {
  list-style: none;
  display: flex; /* Đảm bảo các mục nằm ngang */
  align-items: center; /* Căn giữa các phần tử con theo chiều dọc */
  transition: all 0.5s ease-in;
}

.header-bottom-home .nav-actions .nav-item:not(:last-child) {
  padding: 0 15px;
}

.header-bottom-home .nav-actions .nav-item:last-child {
  padding-left: 15px;
}

.header-bottom-home .nav-actions .nav-item a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in;
}

.header-bottom-home .nav-actions .nav-item i {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  align-items: center;
  transition: all 0.2s ease-in;
}

.header-bottom-home .nav-actions .nav-item a span {
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
}

.header-bottom-home .nav-actions .nav-item:last-child .nav-item__icon {
  position: relative;
}

.header-bottom-home .nav-actions .nav-item:last-child .nav-item__icon .quantity {
  background-color: #f26300;
  width: 18px;
  height: 18px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  top: -5px;
  right: -6px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.header-bottom-home .nav-actions .nav-item a:hover {
  color: #0037cf;
  /* color: #6F6F78; */
}

.header-bottom-home .nav-actions .nav-item:last-child,
.header-bottom-home .nav-actions .nav-item:nth-child(2){
  position: relative;
  cursor: pointer;
}

.header-bottom-home .nav-actions .nav-item:last-child:hover .cart,
.header-bottom-home .nav-actions .nav-item:nth-child(2):hover .info-user{
  opacity: 1;
  visibility: visible;
}

.header-bottom-home .nav-actions .nav-item:last-child .cart {
  background-color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 45px;
  right: 0;
  border: 1px solid #eaeaea;
  border-top: none;
  width: 413px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  z-index: 999;
}

.header-bottom-home .nav-actions .nav-item:nth-child(2) .info-user {
  background-color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 40px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  list-style: none;
  padding: 10px 25px;
}

.header-bottom-home .nav-actions .nav-item:nth-child(2) .info-user li {
  padding: 3px 5px;
  transition: all .3s ease-in;
}

.header-bottom-home .nav-actions .nav-item:nth-child(2) .info-user li:first-child {
  border-bottom: 1px solid #eaeaea ;
}

.header-bottom-home .nav-actions .nav-item:nth-child(2) .info-user li:hover span {
  color: #2453D4;
  cursor: pointer;
}

.header-bottom-home .nav-actions .nav-item:nth-child(2) .info-user span {
  color: #000;
  text-wrap: nowrap;
  font-weight: 400;
}

.header-bottom-home .nav-actions .nav-item:last-child .mini-cart {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  /* height: 324px; */
  overflow: hidden;
  overflow-y: scroll;
  list-style: none;
}

.header-bottom-home .nav-actions .nav-item:last-child .cart-empty {
  background-color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 45px;
  right: 0;
  border: 1px solid #eaeaea;
  border-top: none;
  /* width: 413px; */
  opacity: 0;
  visibility: hidden;
  /* transition: all 0.3s ease-in; */
  z-index: 999;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 25px;
}

.header-bottom-home .nav-actions .nav-item:last-child:hover .cart-empty {
  opacity: 1;
  visibility: visible;
}

.header-bottom-home .nav-actions .nav-item:last-child:hover .cart-empty span {
  white-space: nowrap;
  color: #000;
  font-weight: 600;
  font-size: 14px;
}

.header-top .nav-actions .nav-item:nth-child(3) {
  text-decoration: none;
}

/* .nav-actions .nav-item:last-child .mini-cart:hover {
  overflow-y: scroll; 
} */

.header-bottom-home .nav-actions .nav-item:last-child .mini-cart__item {
  text-decoration: none;
  color: #000;
}

.header-bottom-home .nav-actions .nav-item:last-child .mini-cart::-webkit-scrollbar {
  width: 6px; 
}

.header-bottom-home .nav-actions .nav-item:last-child .mini-cart::-webkit-scrollbar-thumb {
  background-color: #999; 
  border-radius: 4px; 
}

.header-bottom-home .nav-actions .nav-item:last-child .mini-cart__item .img img {
  height: 84px;
  width: 84px;
  object-fit: cover;
}

.header-bottom-home .nav-actions .nav-item:last-child .mini-cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 108px;
  width: 373px;
  padding: 15px 0px;
  border-bottom: 1px solid #eaeaea;
}

.header-bottom-home .nav-actions .nav-item:last-child .mini-cart__item .info {
  width: 100%;
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.header-bottom-home .nav-actions .nav-item:last-child .mini-cart__item .info .title {
  font-size: 15px;
  font-weight: 700;
  max-width: 230px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.3s ease-in;
}

.header-bottom-home .nav-actions .nav-item:last-child .mini-cart__item .info .title:hover {
  color: #2453D4;
  cursor: pointer;
}

.header-bottom-home .nav-actions .nav-item:last-child .mini-cart__item .info .price {
  font-size: 18px;
  margin-left: 0;
  padding-left: 0;
  font-weight: 400;
}

.header-bottom-home .nav-actions .nav-item:last-child .mini-cart__item i {
  transition: all 0.3s ease-in;
  color: #000;
}

.header-bottom-home .nav-actions .nav-item:last-child .mini-cart__item i:hover {
  color: #2453d4;
  cursor: pointer;
}

.header-bottom-home .nav-actions .nav-item:last-child .cart .detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2453D4;
  padding: 14px 15px 16px 15px;
}

.header-bottom-home .nav-actions .nav-item:last-child .cart .detail .title {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.header-bottom-home .nav-actions .nav-item:last-child .cart .detail .total-price {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.header-bottom-home .nav-actions .nav-item:last-child .cart .action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  box-sizing: content-box;
  padding: 18px 15px;
}

.header-bottom-home .nav-actions .nav-item:last-child .cart .action a {
  text-decoration: none;
  color: #000;
  padding: 14px 18px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}

.header-bottom-home .nav-actions .nav-item:last-child .cart .action a span {
  text-transform: uppercase;
  font-size: 12px;
  color: #000;
  font-weight: 700;
  margin-right: 10px;
}

.header-bottom-home .nav-actions .nav-item:last-child .cart .action a i {
  font-size: 12px;
  color: #000;
  font-weight: 700;
}



