.feature-product {
    padding-left: 4%;
    padding-right: 4%;
    overflow: hidden; /* Thêm overflow: hidden để ẩn các phần tử bị tràn ra ngoài */
}

.feature__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 20px;
}

.feature__control {
    display: flex;
    align-items: center;
}

.feature__control i {
    font-size: 20px;
    transition: all 0.2s ease-in;
}

.feature__control i:first-child {
    padding-right: 25px;
}

.feature__control i:hover {
    color: #2453D4;
    cursor: pointer;
}

.list-products {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between;
    transition: transform 0.5s ease; /* Thêm transition để làm mượt hiệu ứng cuộn */
}

.product-item {
    min-width: 215px; /* Đặt kích thước tối thiểu cho các phần tử sản phẩm */
    height: 357px;
}
