.carousel-slide {
    position: relative;
  }
  
  .carousel-item {
    /* height: 550px; */
  }
  
  .carousel-inner img {
    height: 100%;
    width: auto;
    object-fit: cover;
  }
  
  .carousel-indicators {
    position: absolute;
    bottom: 30px;
    /* right: 1000px; */
    transform: translateX(-33%);
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .carousel-indicators li {
    display: inline-block;
    width: 8px !important;
    height: 8px !important;
    border-radius: 50%;
    border: 2px solid #000 !important;
    background-color: transparent !important;
    margin-right: 20px !important;
    cursor: pointer;
  }
  .carousel-indicators li:last-child {
    margin-right: 0;
  }
  .carousel-indicators li.active {
    background-color: #000 !important;
  }
  
  button i {
    color: #000;
    font-size: 35px;
  }
  
  .carousel-control-prev i,
  .carousel-control-next i {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    transition: left 0.7s ease;
    width: 2ch;
    position: relative;
    opacity: 0.5;
  }
  
  .carousel-control-prev i {
    left: 1ch;
  }
  
  .carousel-control-prev:hover i {
    left: 0;
    opacity: 1;
  }
  
  .carousel-control-next i {
    left: -1ch;
  }
  
  .carousel-control-next:hover i {
    left: 0;
    opacity: 1;
  }
  
  .carousel-control-prev {
    position: absolute;
    left: -60px;
  }
  
  .carousel-control-next {
    position: absolute;
    right: -60px;
  }
  
  .carousel-info {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    text-align: left;
    left: 205px;
    width: 300px;
  }
  
  .carousel__heading .title {
    font-size: 46px;
    line-height: 52px;
  }
  
  .carousel__heading .sub {
    font-size: 16px;
    color: rgb(103, 103, 112);
    text-transform: uppercase;
    line-height: 19px;
    padding-top: 5px;
  }
  
  .carousel__price {
    padding-top: 16px;
  }
  
  .carousel__price .sub {
    font-size: 11px;
    color: rgb(103, 103, 112);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .carousel__price .text-price {
    font-size: 41px;
    line-height: 10px;
  }
  
  .carousel-products {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 210px;
  }
  
  .carousel-products .product-item {
    width: 355px;
    height: 188px;
    background-color: #333;
    border-radius: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .carousel-products .product-item:first-child {
    margin-top: 0;
  }
  
  .carousel-products .product-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .product-item {
    position: relative;
  }
  
  .product__info {
    position: absolute;
    top: 45px;
    left: 40px;
    text-align: left;
  }
  
  .product__info .title {
    font-size: 20px;
    font-weight: 600;
    max-width: 120px;
    text-align: left;
    padding-bottom: 20px;
  }
  
  .product__info .sub {
      display: flex;
      align-items: center;
  }
  
  .product__info .sub a{
    font-size: 11px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  
  .product__info .sub i {
    padding-left: 10px;
    font-size: 15px;
    font-weight: 600;
  }
  
  .product__info .sub i {
      transition: transform 0.3s; 
      opacity: 0.7;
  }
  
  .product__info .sub:hover i {
      transform: translateX(3px);
      opacity: 1; 
  }