.customer-detail .customer-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.customer-detail .customer-heading > .title {
    font-size: 31px;
    font-weight: 700;
}

.customer-detail .customer-heading .actions {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 13px;
    font-weight: 500;
}

.customer-detail .customer-heading .actions i {
    margin-right: 10px;
}

.customer-detail .customer-heading .actions .btn-delete {
    color: rgb(236, 31, 0);
}

.customer-detail .customer-heading .actions > div {
    padding: 7px 24px;
    border-radius: 5px;
    border: 1px solid rgb(203, 208, 221);
    background-color: transparent;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.customer-detail .customer-heading .actions > div:hover {
    background-color: #E3E6ED;
}

.customer-detail .customer-info {
    display: flex;
    gap: 20px;
    padding: 0 30px;
    margin-top: 25px;
}

.customer-detail .customer-info .left {
    width: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid rgb(203, 208, 221);
    padding: 24px 24px 16px 24px;
    background-color: #fff;
    justify-content: space-between;
}

.customer-detail .customer-info .left .top {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 24px;
    border-bottom: 1px dashed rgb(203, 208, 221);
}

.customer-detail .customer-info .left .top .c-info .name {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}

.customer-detail .customer-info .left .top .c-info .state {
    font-size: 16px;
    color: rgb(62, 70, 91);
}

.customer-detail .customer-info .left .top .c-info .social {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.customer-detail .customer-info .left .top .c-info i {
    color: rgba(138, 148, 173, 0.75);
    font-size: 15px;
}

.customer-detail .customer-info .left .top .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.customer-detail .customer-info .left .top .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.customer-detail .customer-info .left .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.customer-detail .customer-info .left .bottom > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-detail .customer-info .left .bottom .title {
    font-size: 13px;
    font-weight: 500;
}

.customer-detail .customer-info .left .bottom .sub {
    font-size: 20px;
    color:rgb(62, 70, 91);
    /* font-weight: 500; */
}

.customer-detail .customer-info .right {
    width: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid rgb(203, 208, 221);
    padding: 24px;
    background-color: #fff;
}

.customer-detail .customer-info .right .heading {
    display: flex;
    flex-direction: row !important;
    text-align: center;
}

.customer-detail .customer-info .right .title {
    font-size: 25px;
    font-weight: 700;
}

.customer-detail .customer-info .right i {
    font-size: 15px;
    margin-top: 8px;
    margin-left: 10px;
    color: rgb(138, 148, 173);
}

.customer-detail .customer-info .right > div {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.customer-detail .customer-info .right > div:last-child,
.customer-detail .customer-info .right > div:first-child {
    margin-bottom: 0;
}

.customer-detail .customer-info .right > div .text {
    font-weight: 400;
    color: rgb(62, 70, 91);
}

.customer-detail .customer-info .right .email .text {
    color: rgb(56, 116, 255);
}

.customer-detail .customer-info .right .email .text:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #003cc7;
}

.customer-detail .customer-info .right .phone .text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.customer-detail .note-cus {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 5px;
    border: 1px solid rgb(203, 208, 221);
    background-color: #fff;
    margin: 0 30px;
    margin-top: 15px;
}

.customer-detail .note-cus > .title {
    font-size: 25px;
    font-weight: 700;
}

.customer-detail .note-cus textarea {
    border: 1px solid rgb(203, 208, 221);
    padding: 8px 16px;
    font-size: 13px;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    background-color: #fff;
    width: 100%;
    margin-top: 30px;
}

.customer-detail .note-cus textarea:focus {
    background-color: #fff;
    border-color: transparent;
    color: #000;
    box-shadow: 0 0 0 2px #2453d4;
}

.customer-detail .note-cus .btn-add-note {
    border-radius: 5px;
    border: 1px solid rgb(203, 208, 221);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    background-color: #F5F7FA;
    font-size: 13px;
    font-weight: 500;
    color: rgb(33, 100, 255);
    margin-top: 15px;
}

.customer-detail .note-cus .btn-add-note:hover:hover {
    cursor: pointer;
    background-color: #E3E6ED;
}

.customer-detail .note-cus .feedback-cus {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.customer-detail .note-cus .feedback-cus .feedback-item-cus {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: 500;
    gap: 10px;
    padding-bottom: 16px;
    border-bottom: 1px dashed rgb(203, 208, 221);
    margin-bottom: 24px;
}

.customer-detail .note-cus .feedback-cus .feedback-item-cus:last-child {
    border: 0;
    margin: 0;
    padding: 0;
}

.customer-detail .note-cus .feedback-cus .feedback-item-cus .time {
    align-self: end;
    color: rgba(82, 91, 117, 0.85);
    font-weight: 400;
}


.customer-detail .table-orders-cus {
    margin-top: 30px;
    padding: 0 30px;
    /* background-color: #fff; */
}

.customer-detail .table-orders-cus > .title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.customer-detail .table-orders-cus .total-order-cus {
    color: rgb(82, 91, 117);
    font-weight: 500;
}

.customer-detail .table-orders-cus thead th {
    border-top: 1px solid rgb(203, 208, 221);
    background-color: transparent;
}

.customer-detail .table-orders-cus thead th > div {
    display: flex;
    align-items: center;
    justify-content: left;
}

.customer-detail .table-orders-cus thead th:nth-child(1) > div {
    justify-content: left;
}
.customer-detail .table-orders-cus thead th:nth-child(2) > div {
    justify-content: right;
}

.customer-detail .table-orders-cus thead th:last-child > div {
    justify-content: end;
}

.customer-detail .table-orders-cus thead th .title {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.customer-detail .table-orders-cus thead th .filter i {
    font-size: 10px;
    line-height: 0.5;
}

.customer-detail .table-orders-cus thead th .filter {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 2px;
}

.customer-detail .table-orders-cus tbody .product-name__content {
    display: flex;
    align-items: center;
}

.customer-detail .table-orders-cus tbody .product-name__content .image {
    width: 53px;
    height: 53px;
    border-radius: 5px;
    border: 1px solid rgb(203, 208, 221);
    flex-shrink: 0;
}

.customer-detail .table-orders-cus tbody .product-name__content .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.customer-detail .table-orders-cus thead th {
    vertical-align: middle;
    height: 35px;
}

.customer-detail .table-orders-cus tbody td {
    font-size: 13px;
    font-weight: 500;
    vertical-align: middle;
    height: 40px;
    background-color: transparent;
}

.customer-detail .table-orders-cus tbody td:nth-child(2) {
    text-align: right;
    width: 30px;
    padding-right: 15px;
}

.customer-detail .table-orders-cus tbody td .image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}


.customer-detail .table-orders-cus tbody td .b-customer {
    display: flex;
    align-items: center;
}

.customer-detail .table-orders-cus tbody td .b-customer .name {
    margin-left: 16px;
}

.customer-detail .table-orders-cus tbody td .b-customer .name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.customer-detail .table-orders-cus tbody td input {
    width: 16px;
    height: 16px;
}

.customer-detail .table-orders-cus tbody td .image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.customer-detail .table-orders-cus tbody td:last-child {
    text-align: right;
}

.customer-detail .table-orders-cus tbody td .b-payment-status.paid,
.customer-detail .table-orders-cus tbody td .b-fulfilment-status.fulfilled {
    padding: 2px 8px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(217, 251, 208);
    border: 1px solid rgb(144, 214, 127);
    color: rgb(28, 108, 9);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}

.customer-detail .table-orders-cus tbody td .b-payment-status.paid i,
.customer-detail .table-orders-cus tbody td .b-fulfilment-status.fulfilled i{
    margin-left: 5px;
    font-size: 10px;
    color: rgb(28, 108, 9);
}

.customer-detail .table-orders-cus tbody td .b-payment-status.cancelled,
.customer-detail .table-orders-cus tbody td .b-fulfilment-status.cancelled {
    padding: 2px 8px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(239, 242, 246);
    border: 1px solid rgb(203, 208, 221);
    color: rgb(82, 91, 117);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}

.customer-detail .table-orders-cus tbody td .b-payment-status.cancelled i,
.customer-detail .table-orders-cus tbody td .b-fulfilment-status.cancelled i{
    margin-left: 5px;
    font-size: 10px;
    color: rgb(82, 91, 117);
}

.customer-detail .table-orders-cus tbody td .b-payment-status.failed,
.customer-detail .table-orders-cus tbody td .b-fulfilment-status.failed {
    padding: 2px 8px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(255, 224, 219);
    border: 1px solid rgb(244, 130, 112);
    color: rgb(184, 24, 0);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}

.customer-detail .table-orders-cus tbody td .b-payment-status.failed i,
.customer-detail .table-orders-cus tbody td .b-fulfilment-status.failed i{
    margin-left: 5px;
    font-size: 10px;
    color: rgb(184, 24, 0);
}

.customer-detail .table-orders-cus tbody td .b-order-number {
    color: rgb(56, 116, 255);
}

.customer-detail .table-orders-cus tbody td .b-order-number:hover {
    text-decoration: underline;
    cursor: pointer;
}

.customer-detail .table-orders-cus tbody td .b-total {
    color: rgb(34, 40, 52);
}


.customer-detail .table-orders-cus tbody td .b-delivery {
    color: rgb(49, 55, 74);
    font-weight: 400;
}

.customer-detail .table-orders-cus tbody td .b-date {
    color: rgb(82, 91, 117);
    font-weight: 400;
}




.customer-detail .table-orders-cus .pagination-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(203, 208, 221);
}

.customer-detail .table-orders-cus .pagination-table  .info-detail span{
    font-size: 13px;
    font-weight: 500;
}

.customer-detail .table-orders-cus .pagination-table  .info-detail .sub {
    margin-left: 15px;
    color: #4E83FE;
    margin-right: 5px;
    cursor: pointer;

}

.customer-detail .table-orders-cus tbody .actions-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.customer-detail .table-orders-cus tbody .actions-content i {
    padding: 6px 8px;
    border-radius: 5px;
    transition: all 0.3s ease-in;
}

.customer-detail .table-orders-cus tbody .actions-content:hover i{
    background-color: #E3E6ED;
    cursor: pointer;
}

.customer-detail .table-orders-cus tbody .actions-content .actions {
    position: absolute;
    top: 35px;
    left: -105px;
    border-radius: 5px;
    border: 1px solid rgb(203, 208, 221);
    padding: 8px 0;
    background-color: #fff;
    width: 155px;
}

.customer-detail .table-orders-cus tbody .actions-content .actions ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.customer-detail .table-orders-cus tbody .actions-content .actions ul li {
    padding: 8px 16px;
    font-size: 13px;
    text-align: left;
}

.customer-detail .table-orders-cus tbody .actions-content .actions ul li:hover {
    background-color: #E3E6ED;
    cursor: pointer;
}

.customer-detail .table-orders-cus tbody .actions-content .actions ul li:nth-child(3) {
    padding: 1px 16px;
    margin: 5px 0;
}

.customer-detail .table-orders-cus tbody .actions-content .actions ul li:last-child {
    color: red;
}

.customer-detail .table-orders-cus .pagination-table  .info-detail i {
    font-size: 13px;
    color: #4E83FE;
}


.customer-detail .table-orders-cus .pagination-table .pagination-content {
    display: flex;
    align-items: center;
    gap: 5px;
}

.customer-detail .table-orders-cus .pagination-table .pagination-content .pagination-item:first-child {
    background-color: #E3E6ED;
}

.customer-detail .table-orders-cus .pagination-table .pagination-content .pagination-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    border-radius: 5px;  
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.customer-detail .table-orders-cus .pagination-table .pagination-content .pagination-item.active {
    background-color: #3874FF;
    color: #fff;
}

.customer-detail .table-orders-cus .pagination-table .pagination-content .pagination-item:hover {
    background-color: #E3E6ED;
    color: #2453d4;
}

.customer-detail .table-orders-cus .pagination-table .pagination-content .pagination-item i {
    font-size: 13px;
}

.customer-detail .table-orders-cus .pagination-table .pagination-content .pagination-item span {
    font-size: 14px;
    font-weight: 500;
}
