.search-box {
    width: 400px;
    height: 40px;
    background-color: #f0f5ff;
    border-radius: 6px;
    padding: 3px 15px;
}

.search-box input {
    background: transparent;
    border: 0px;
    outline: none;
    padding-left: 0px;
    font-size: 14px;
    color: #292929;
}
.search-box input::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.6);
}
.search-box svg {
    font-size: 18px;
    color: #292929;
    margin-right: 10px;
}